<form [formGroup]="personForm" (ngSubmit)="onPersonFormSubmit()">
  <input type="hidden" formControlName="id">
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" placeholder="Firstname" formControlName="name">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" placeholder="lastname" formControlName="lastname">
  </div>
  <div class="form-group">
    <label for="twitter">Misc</label>
    <div class="input-group">
      <mat-icon>folder</mat-icon>
      <input type="text" class="form-control" id="twitter" placeholder="lastname" formControlName="twitter">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>